@use "../general-styles/colors" as clrs;
@use "../general-styles/padding" as pad;
@use "../general-styles/typography" as type;

.sec-link,
input[type="submit"] {
  color: clrs.color-link("1");
  font-size: type.font-size-st(sc);
  padding: pad.padding-st-v(s) pad.padding-st-h(l);
}
